NODE_ENV  = production
PORT = 3000

DB_NAME = 
DB_HOST = 127.0.0.1
DB_USERNAME = postgres
DB_PASSWORD = 
DB_DIALECT = postgres

API_KEY= AIzaSyB7ITPRE8rIgz_M42Crk12ApDGh7cZpNYM
AUTH_DOMAIN= golib-59a06.firebaseapp.com
PROJECT_ID= golib-59a06
STORAGE_BUCKET= golib-59a06.appspot.com
MESSAGING_SENDER_ID= 948493934256
APP_ID= 1:948493934256:web:8cd874caa5fa89a60ba575
FIREBASE_USER=
FIREBASE_AUTH=

